-i https://pypi.org/simple/
beautifulsoup4==4.7.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
flask==1.0.3
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.3
markdownify==0.4.1
markupsafe==1.1.1
pytelegrambotapi==3.6.6
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
werkzeug==1.0.1
